<!DOCTYPE html>
<html>
  
  <body>
    <h2>Table Costumers</h2>
		<a href="/costumers/add" class="button">Add Costumer</a>
	<hr>
    <table border>
      <tr>
        <th>ID</th>
        <th>Costumer Name</th>
        <th>Email</th>
        <th>Adress</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Country</th>
				<th>Action</th>
      </tr>
    <% for (let i = 0; i < costumers.length; i++) { %>
			<tr>
				<td><%= costumers[i].id %></td>
				<td><%= costumers[i].name %></td>
				<td><%= costumers[i].email %></td>
				<td><%= costumers[i].address %></td>
				<td><%= costumers[i].city %></td>
				<td><%= costumers[i].postalcode %></td>
				<td><%= costumers[i].country %></td>
				<td><a href="">Update</a> | <a href="/costumers/<%= costumers[i].id %>">Delete</a></td>
			</tr>
		<% } %>
    </table>
	<hr>
  </body>
</html>
